@import "tailwindcss";

.home-h1 {
    @apply text-blue-900 text-3xl text-center font-medium mt-7 sm:text-left sm:ml-10 sm:text-4xl lg:text-5xl lg:mt-11 xl:text-6xl
}

.home-img {
    @apply hidden sm:block sm:w-80 sm:my-8 sm:mr-4 lg:w-sm lg:ml-28 xl:w-lg xl:ml-0
}

.home-fparent {
    @apply sm:flex 
}

.home-h2 {
    @apply text-blue-600 text-lg mx-4 my-4 sm:text-xl sm:ml-10 lg:text-2xl lg:my-8 lg:w-lg xl:w-4xl xl:text-3xl xl:mt-14 
}

.home-p2 {
    @apply flex gap-x-4 mx-4 sm:mx-9 sm:gap-x-8 sm:my-4 
}

.home-call {
    @apply bg-blue-500 text-white px-[3.5vw] py-1 text-lg font-medium rounded-3xl sm:px-[4vw] ;
    box-shadow: 0px 15px 40px rgb(128, 128, 199);
}

.home-what {
    @apply outline-2 text-lg text-emerald-700 font-medium px-[2vw]  py-1 rounded-3xl;
    box-shadow: 0px 15px 50px rgba(2, 122, 38,0.35);
}

.home-gf {
    @apply grid place-content-center gap-y-4 my-[10vw] sm:grid-cols-2 sm:place-items-center lg:grid-cols-3 xl:my-14
}

.home-parent {
    @apply shadow-xl p-4 flex flex-col items-center gap-y-4 rounded-xl  w-[70vw] sm:w-64 xl:w-80
}

.home-c1 {
    @apply w-16 xl:w-20
}

.home-c2 {
    @apply text-lg text-center xl:text-xl
}

.home-facilities {
    @apply text-2xl text-center text-blue-950 font-medium  mb-3 sm:text-3xl sm:mb-7 lg:text-4xl
}

.home-parent3 {
    @apply flex gap-x-10 ml-3 sm:ml-24 sm:gap-x-40 md:ml-32 lg:ml-48 lg:gap-x-56 xl:ml-80 xl:gap-x-96
}

.home-child3 {
    @apply text-xl sm:text-2xl lg:text-3xl
}

.home-line {
    @apply w-[90vw] ml-[5vw] bg-slate-200 h-0.5 my-3 lg:w-[70vw] lg:ml-[15vw]
}

.home-footer {
    @apply bg-slate-800 mt-7 p-4
}

.home-lasth {
    @apply text-xl font-medium text-blue-50 
}

.home-footer-p1 {
    @apply flex gap-x-4 my-4
}

.home-footer-c1 {
    @apply text-white 
}

.map {
    @apply ml-10 h-56 w-72 mt-6 sm:h-60 sm:w-xl sm:ml-16 md:ml-28 lg:ml-72 xl:ml-80 xl:w-4xl xl:h-80
}